body{
    font-family: arial, sans-serif;
    width: 1100px;
    margin-left: 120px;
}
.cabecalho1{
    overflow: auto;
}
#txtBusca{
    float: left;
    width: 230px;
    height: 35px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 130px;
    
}
.imagem{
    float: left;
    margin-left: 100px;
}
.bottom{
    float: left;
    margin-left: 90px;
    margin-right: 0;
    margin-top: 130px;
}
.btn{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: medium;
}
.btn:hover{ 
    background: rgba(0, 0, 0, 0.2);
    transition: 1s;
}
.menu{
    background: rgb(236, 76, 76);
    width: 1055px;
    list-style: none;
    padding: 2%;
    overflow:auto;
}

.nav-lista{
    color: white;
    float: left;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
}

.banner img{
    width: 1100px;
    height: 70%;
    text-align: center;
    margin-bottom: 40px;
}
.container{
    overflow: auto;
    margin-bottom: 90px;
}
.container div{
    width: 1100px;
}
.img1{
    float: left;
    width: 32%;
    margin-right: 2%;
}
.img2{
    float: left;
    width: 32%;
    margin-right: 2%;
}
.img3{
    float: left;
    width: 32%;
}

.card-deck{
    overflow: auto;
    margin-bottom: 90px;
}
.card{
    border: solid 1px #ccc;
    width: 24%;
    float: left;
    margin-right: 9px;
}
.card-img-top{
    width: 100%;
}
.card-title{
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.card-text{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.listas{
    background: rgb(236, 76, 76);
    float: left;
    height: 200px;
    width: 25%;
    text-align: center;
}
.listas a{
    text-decoration: none;
    color: white;
    text-align: center;
    position: relative;
    top: -30px;
    left: 5px;
}
.lista a:hover{
    text-decoration: underline;
}

.listas ul{
    list-style-type: none;
}

.listas h5{
    color: white;
    font-size: 20px;
    position: relative;
    top:-10px;
    left: 20px;
}